@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap");
.main{
  background-color: #373e40;
  color: #fef9ef;
  font-family: "Open Sans", "Montserrat";
  margin: 0;
  padding: 0;
}

button{
  padding: 15px 32px;
  margin: 4px 2px;
  border: none;

  cursor: pointer;

  font-family: "Montserrat";
  font-weight: 100;

  background-color: #17C3B2;
  color: #fef9ef;

  font-size: 32px;

  width:100%;
}

nav {
  background: #121212;
  padding: 5px 40px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.menu {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.menu:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #17c3b2;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.menu:hover:after {
  opacity: 1;
  bottom: 8px;
}
nav ul li.title {
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.4s;
}
nav ul li:hover a {
  color: #17c3b2;
}
nav ul li i {
  font-size: 23px;
}
nav ul li.btn {
  display: none;
}
nav ul li.btn.hide i:before {
  content: "\f00d";
}
@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  nav ul li.items {
    width: 100%;
    display: none;
  }
  nav ul li.items.show {
    display: block;
  }
  nav ul li.btn {
    display: block;
  }
  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #17c3b2, inset 0 0 10px #17c3b2;
  }
  nav ul li.items:hover:after {
    opacity: 0;
  }
}
